.app {
  text-align: center;
  margin-bottom: 5vh;
}

.board {
  display: inline-block;
}

.board-row {
  display: flex;
}
.stats {
  margin-top: 10px;
}

.board-cell {
  width: 64px;
  height: 64px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.empty {
  background-color: #020202;
}

/* CSS */
.reset {
  border-radius: 10px;
  border: 1px solid white;
  padding: 7.5px 17.5px;
  background: #020202;
  margin-top: 1vh;
  font-size: 2vh;
  color: #4cd964;
  width: fit-content;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.reset:hover {
  color: white !important;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
  border-color: #4cd964 !important;
  scale: 1.1;
}
