html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: whitesmoke;
  background: #191919;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.wrapper {
  display: grid;
  grid-template-areas:
    "top"
    "divider"
    "content ";
  grid-template-rows: 0.6fr 0.1fr 10fr;
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  overflow: hidden;
}
.divider {
  background: #191919;
}
.top {
  grid-area: top;
  position: relative;
  z-index: 1;
  padding-top: 2.5vh;
  padding-right: 5vw;
  background: #191919;
}
.content {
  position: relative;
  grid-area: content;
  background-color: #131313;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  color: whitesmoke;
}
.circle {
  position: absolute;
  top: 25vh;
  left: 50%; 
  transform: translateX(-50%); 
  width: 64px; 
  height: 64px; 
  border-radius: 50%; 
  background-color: white; 
}


.top div div {
  text-align: center;
}
/* Overlay */
.top div div:hover,
.top div div:active,
.top div div:target {
  /* filter: brightness(70%); */
  color: white;
}
/* Hide the scrollbar */
::-webkit-scrollbar {
  display: none;
}
